{# templates/lucky/number.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Lucky Number</title>
    </head>
    <body>
        <h1>Your lucky number is {{ number }}</h1>
        <p>salut tout le monde , en ce moment là , je suis hereuse</p>
    </body>
</html>